*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./section-1\(header\).jpg);
    background-repeat: no-repeat;
    padding-bottom: 241px;
}
.header-mini-text{
    font-size: 36px;
    margin-left: 9px;
    margin-top: -9px;
    color: rgba(255, 255, 255, 1);
}
.header-ham-text{
    font-family: Montserrat;
    font-size: 32px;
    color: white;
    margin-right: 240px;
    margin-left: 345px;
}
.another-word{
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 32px;
}
.header-menu{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: Montserrat;
    text-transform: uppercase;
    margin-left: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 48px;
}
.header-menu:hover{
    color: rgba(24, 207, 171, 1);
    border-bottom: 2px solid;
}
.container{
    display: flex;
    justify-content: space-around;
    padding-right: 422px;
    padding-left: 180px;
    padding-top: 48px;
    background: rgba(94, 93, 88, 0.6);
}
.img-responsive{
    height: 21px;
    margin-top: 9px;
    margin-left: 21px;
}
.first-h{
    color: white;
    font-family: Montserrat;
    font-size: 35px;
    margin-left: 476px;
    padding-top: 366px;
    font-weight: bold;
    text-transform: uppercase;
}
.change-color{
    color: #18CFAB;
}
.second-minimum-text{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    margin-left: 405px;
    color: white;
    margin-top: 22px;
}
.third-minimum-text{
   margin-left: 405px;
    font-size: 32px;
    color: white;
    opacity: 0.7;
    font-family: Montserrat;
}
.first-button{
    box-shadow: 0px -4px 0px 0px rgba(255,255,255,7);
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 17px;
    padding-right: 17px;
    color: white;
    background: #18CFAB;
    border-color: #18CFAB;
    border-radius: 4px;
    margin-left: 26px;
    text-transform: uppercase;
}
.color-btn{
    background-color: #00CBF6;
    border-color: #00CBF6;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 134px;
    margin-left: 169px;
}
.second-conteiners{
    display: flex;
    margin-top: 8px;
}
.first-content{
    color: #18CFAB;
    line-height: 110px;
    width: 416px;
    height: 377px;
    background-color: #1C2A33;
}
.second-img{
    position: absolute;
    left: 165px;
    margin-top: 95px;
}
.first-mini-text{
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px; 
    display: flex;
    justify-content: center;
    padding-top: 240px;
}
.second-content{
    background-color: #18CFAB;
}
.second-color{
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px; 
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 11px;
}
svg{
    margin-top: 106px;
    margin-left: 150px;
}
.third-img{
    position: absolute;
    margin-left: 165px;
    margin-top: 95px;
}
.third-con-text{
    margin-top: 83px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content:center;
    color: #4E4E4E;
    margin-left: 189px;
}
.lines-content{
    border-bottom: 2px solid ;
    width: 79px;
    margin-left: 722px;
    margin-top: 24px;
    color: #18CFAB;
}
.lines-content-second{
    border-bottom: 2px solid;
    width: 79px;
    margin-left: 735px;
    margin-top: 4px;
    color: #18CFAB;
}
.changing-color-text{
    width: 137px;
    font-size: 14px;
    margin-left: -4px;
    border: 1px solid;
    height: 72px;
    display:inline-block;
    background: #F8FCFE;
    border-color: rgba(242, 242, 242, 1);
    font-family: Montserrat;
    line-height: 75px;
    text-align: center;
    color: rgba(113, 113, 113, 1);
}
.changing-color-text:hover{
    border: 2px solid #18CFAB;
    color:#18CFAB;
}
.text-and-img{
    margin-left: 277px;
    margin-top: 69px;
}
.mini-text{
    margin-left: 15px;
}
.mini-container{
    display: flex;
    margin-top: 28px;
}
.container-second{
    max-width: 1160px;
}
.content-section{
    background-image: url(./Sectionsbackground/Layer\ 21\ 1.png);
    height: 476px;
    background-repeat: no-repeat;
    margin-top: 91px;
}
.third-content-text{
    padding-top: 126px;
    color: rgba(24, 207, 171, 1);
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    margin-left: 204px;
    text-transform: uppercase;
}
.third-second-text{
    position: absolute;
    color: rgba(216, 216, 216, 1);
    font-family: Montserrat;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-top: 179px;
    margin-left: 347px;
}
.button-third-content{
    margin-left: 680px;
    margin-top: 286px;
    box-shadow: 0px -4px 0px 0px rgb(255 255 255);
} 
.fourth-content-text{
    color:rgba(78, 78, 78, 1);
    font-family: Montserrat;
    font-size: 36px;
    line-height: 40px;
    margin-left: 590px;
    padding-top: 95px;
}
.sizeOfMenu{
    margin-left: 423px;
    margin-top: 69px;
}
.tabs-album{
    margin-left: 192px;
    margin-top: 68px;
    z-index: -1;
    display: flex;
    -webkit-flex-flow: row wrap;
}
.tabs-button{
    border-radius: 4px;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    width: 168px;
    height: 63px;
    background-color: rgba(24, 207, 171, 1);
    border-color: rgba(24, 207, 171, 1);
    margin-left: 698px;
    margin-top: 70px;
}
.image-margin{
    margin-right: 15px;
}
li{
    list-style: none;
}
.section-last{
    background-image: url(./img/Layer\ 333.png);
    height: 858px;
    background-repeat: no-repeat;
    margin-top: 129px;
}
.last-section-text{
    padding-top: 98px;
    font-family: Montserrat;
    margin-left: 380px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.last-section-img{
    margin-top: 45px;
    margin-left: 745px;
}
.last-section-tab{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    margin-left: 379px;
    margin-top: 36px;
}
.second-text-last{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-left: 400px;
    margin-top: 37px;
}
.second-section-img{
    margin-top: 50px;
    margin-left: 711px;
}
.first-right-arrow{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.third-text-last{
    margin-top: 10px;
    font-size: 11px;
    color: #FFFFFF;
    font-family: Montserrat;
    text-align: center;
    margin-left: 401px;
}
.tabs-title:hover{
    border: 2px solid #18CFAB;
}
.tabs-title{
    margin-left: -4px;
    border: 1px solid;
    width: 192px;
    height: 72px;
    display:inline-block;
    background: #F8FCFE;
    border-color: rgba(242, 242, 242, 1);
    font-family: Montserrat;
    line-height: 77px;
    text-align: center;
    color: rgba(113, 113, 113, 1); 
}
.tabs{
    margin-left: 111px;
}
.title-tab.active{
    background-color: #18CFAB;
    color: white;
}
.img-services{
    width: 192px;
    height: 139px;
}
.active{
    background-color: #18CFAB;
    color: white;
}
.content-tab{ 
    margin-top: 28px;
    margin-left: -6px;
}
.defoult-tab{
    display: grid;
    margin-top: 44px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 206px;
}
.service-texts{
    font-family: Montserrat;
    margin-top: -144px;
    margin-left: 208px;
    width: 767px;
}
.tab-second{
    display:none;
}
.another-texts{
    margin-left: 8px;
    width: 767px;
}
.album-hover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(233, 237, 239, 1);
    width: 285px;
    height: 211px;
    display:none;
}
.album-element:hover .album-hover{
    display:block;
}
.album-hover:hover{
    -webkit-box-shadow: 0px -2px 0px 0px rgba(24, 207, 171, 0.75);
    -moz-box-shadow:    0px -2px 0px 0px rgba(24, 207, 171, 0.75);
    box-shadow:         0px -2px 0px 0px rgba(24, 207, 171, 0.75);
}
.album-element{
    position: relative;
}
.text-of-album{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-top: 24px;
}
.second-text-album{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}
.album-img{
    margin-left: 102px;
    margin-top: 42px;
}
.fourth-container{
    background-color: rgba(233, 237, 239, 1);
    padding-bottom: 100px;
}
.last-content{
    display: grid;
    margin-top: 71px;
    grid-template-columns: repeat(4, 0fr);
    row-gap: 117px;
    column-gap: 35px;
    margin-left: 184px;
}
.data-content{
    padding-top: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(32, 62, 56, 1);
    width: 63px;
    height: 51px;
    font-weight: 100;
}
.first-title-content{
    position: relative;
}
.first-title-content:hover .amazing-text{
    color:rgba(24, 207, 171, 1);
}
.first-title-content:hover .data-content{
    background-color: rgba(24, 207, 171, 1);
}
.last-mini-text{
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.amazing-text{ 
    font-family: Montserrat;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    margin-left: 30px;
    color: #717171;
}
.admin-text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    margin-left: 30px;
    color: #777777;
}
.second-admin-text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}
.border-left-text{
    font-weight: 300;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
    border-left: 0.8px solid #777777;
    margin-right: 15px;
}
.second-mini-texts{
    background-color: rgba(248, 252, 254, 1);
    border: 1px solid rgba(242, 244, 245, 1);
    margin-top: -4px;
}
.portfolio-container{
    max-width: 1160px;
    margin: auto;
    margin-top: 69px;
}
.portfolio{
    background-color: white;
    padding: 100px 7px;
}
.portfolio .section-title h1:before{
    left: 30%;
}
.portfolio .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.title-of-portfolio{
    width: 137px;
    font-size: 14px;
    margin-left: -4px;
    border: 1px solid;
    height: 72px;
    display:inline-block;
    background: #F8FCFE;
    border-color: 
    rgba(218, 218, 218, 1);
    font-family: Montserrat;
    line-height: 75px;
    text-align: center;
    color: rgba(113, 113, 113, 1);
}
.active-second{
    color: #18CFAB;
    border-color: #18CFAB;
}
.portfolio-gallery{
    display: grid;
    margin-top: 71px;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 173px;
}
.item{
    margin-bottom: -4px;
}
[data-id="Graphic-Design"],
[data-id="Web-Design"], 
[data-id="Landing-Page"], 
[data-id="Wordpress"], 
[data-title="all"]{
    display: none;
}
.load-img{
    display: none;
}
#filter-btns{
    margin-left: 424px;
}


[data-name="first-tab"]{
    display: none;
}
.last-images{
    position: absolute;
    margin-left: 563px;
    margin-top: -112px;
}
.last-image{
    margin-left: 36px;
}
.arrow-2 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    position: relative;
    margin: 20px;
    left: 987px;
    top: -140px;
}
.arrow-1{
    cursor: pointer;
    height: 120px;
    width: 80px;
    position: relative;
    margin: 20px;
    left: 574px;
}
.arrow-1-top, 
.arrow-1-bottom {
    background: #337AB7;
    height: 10px;
    left: -30px;
    position: absolute;
    top: 60px;
    width: 100px;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: #337AB7;
    height: 10px;
    left: -30px;
    position: absolute;
    top: 60px;
    width: 100px;
}
.arrow-2-top {
    top: 64px;
}
.arrow-1-top{
    top: 64px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
    margin-top: -4px;
    width: 11px;
    height: 2px;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
    width: 10px;
    height: 2px;
}
.arrow-1-top {
    transform: rotate(
45deg);
    transform-origin: bottom left;
    margin-top: -5px;
    width: 11px;
    height: 2px;
}
.arrow-1-bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 10px;
    height: 2px;
}
.arrow-2-top::after, 
.arrow-2-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.header-mini-menu{
    position: absolute;
    width: 46px;
    height: 28px;
    border: 2px solid rgba(24, 207, 171, 1);
    border-top: none;
    border-bottom: none;
    left: 250px;
    top: 47px;
    background-color: rgba(24, 207, 171, 1);
}
.header-mini-menu:nth-child(2) {
    transform:rotate(60deg);
}
.header-mini-menu:nth-child(3) {
    transform:rotate(-60deg);
}
.footer{
    width: 1519px;
    height: 94px;
    background-color: #22353F;
}
.another-word-second{
    color: #18CFAB;
}
.last-texts{
    margin-top: -7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 35px;
    margin-left: 627px;
}