.hero{
  font-size: 80px;
  padding-left: 98px;
  padding-top: 20px;
  font-family: sans-serif;
}
.words{
  color:black ;
}
.words-text{
  color:#42d7f5;
}
.nav{
  display: flex;
  padding-left: 98px;
}
.nav-menu{
  border: 1px solid;
  padding-left: 32px;
  background-color: #35444F;
  font-size: 24px;
  padding-right: 24px;
  padding-top: 26px;
  padding-bottom: 19px;
  color: #FFFFFF;
  margin-top: 32px;

}
.nav-menu-link{
color: #FFFFFF;
text-decoration: none;
}
.nav-menu-link:hover{
  color:  #FFFFFF;
  text-decoration: overline;
}




.nav-nav{
  margin-top: 33px;
  background-color:  #35444F;
  padding-left: 162px;
  

}


.nav-right{
  padding-left: 133px;
  background-color: #35444F;
  margin-top: 33px ;
}
.nav-menu-title{
  padding-right: 162px;
  color: #FFFFFF;
}
.nav-menu-subtitle{
  padding-left: 133px;
}
.nav-item{
  padding-left: 38px;
  border: 1px solid;
  margin-left: 100px;
  margin-right: 1036px;
  margin-top: 48px;
}
.nav-text{
  margin-bottom: 52px;
  margin-top: 50px;
  font-size: 27px;
  border-bottom: 1px solid ;
  display: inherit;
}
.image{
 margin-left: 496px;
 margin-top: -449px;
 }
.image-item{
  border: 1px solid;
  padding-left: 297px;
  padding-right: 268px;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-left: 20px;
}

.menu-item-link:hover{
  transition: 0.5s;
  margin-left: 15px;
}
.menu-item-link{
  text-decoration: none;
  color:  #485863;
  
}
.title-text{
  padding-left:515px ;
  margin-top: 56px;
  padding-right: 99px;
  height: 120px;
  padding-right: 99px;
}
.subtitle-text{
  padding-left:515px ;
  padding-right: 99px;
  height: 120px;
  
}

.wrapper{
  background-color:  #63696E7A;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 54px;
}
.nav-link {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  margin-left: 40px;
}
.nav-link:hover{
  transition: 0.5s;
  margin-right: 15px;
  text-decoration: underline;
  color: rgb(91, 162, 243);
}


  
