*{
    margin: 0;
    padding: 0px;
}
body{
    background-image: url(./image/Фон\ 1.png);
    width: 100%;
}
.hero{
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
}
.hero-text{
    font-weight: bold;
    display: inline-block;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 18px;
    padding-left: 79px;
}
.svg-title{
    margin-left: 888px;
}
.svg-title:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate( 
396deg
 ) saturate(600%) contrast(0.8);
}
.svg-item{
    margin-left: 27px;
}
.svg-item:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate( 
396deg
 ) saturate(600%) contrast(0.8);
}
.svg-subtitle{
    margin-left: 27px;
    
    padding-right: 25px;
}
.svg-subtitle:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate( 
396deg
 ) saturate(600%) contrast(0.8);
}
.hero-login{
    position: absolute;
    top: 19px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: sans-serif;
    border-left: 1px solid #FFFFFF;
    padding-left: 27px;
}
.opacity:hover{
    opacity: 0.5;
}
.content{
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    background-color: #FFFFFF;
    width: 444px;
}
.content-item{
    padding-top: 31px;
}
.box{
    border: 1px solid;
    background-color: #3CB878;
    padding-left: 18px;
    border-color: #3CB878;
}
.sign-text{
    font-family: ubuntu;
    margin-left: 42px;
    color: #434343;
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: normal;
}
.login-text{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: 216px;;
}
.login-text:hover{
    text-decoration: underline;
}
div.container {
    display: contents;
    width: 50%;
    margin: 40vh auto;
}
.login {
    border: 1px solid grey;
    border-radius: 2.5px;
    color: white;
    font-size: 16px;
    min-height: 32px;
}
.facebook, .facebook:hover {
    background-color:#305DB8 ;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 61px;
}
.fab{
    margin-left: 16.5px;
}
.facebook:hover {
    background-color: #022263;
}
.google, .google:active {
    margin-top: 15px;
    background-color: #CF4332;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 6px;
  }
.google:hover {
    background-color:  #AB1F09;
  }
.icons-line{
    opacity: 0.2;
    font-size: 19px;
    padding-right: 18.5px;
    border-right: 1.5px solid #0A162F;
}
.icons-line-title{
    opacity: 0.2;
    font-size: 20px;
    border-right: 1.5px solid #0A162F;
}
  .login-logo {
    font-size: 18px;
    padding-right: 6.5px;
}
.icons-text {  
    display: inline-block;
    padding: 4.5px 23.5px;
}
.line-item-title::before{
    content: " ";
    border-bottom: 2px solid #F2F2F2;
    width: 165px;
    margin-top: 10px;
    margin-left: -170px;
    position: absolute;
}
.lines-item::after{
    content: " ";
    border-bottom: 2px solid #F2F2F2;
    width: 153px;
    margin-top: 10px;
    position: absolute;
    left: 244px;
}
.lines-title{
    margin-top: 41px;
}
.content{
    position: absolute;
    top: 18%;
    left: 42%;
    transform: translate(-50px, -50px);
}

.form{
    margin-top: 12px;
}
.lines-item{
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    margin-left: 229px;
}
.test-select{
    padding-left: 15px;

}
input:focus{
    box-shadow: 5px 7px 6px rgb(94, 93, 94);
}
input{
    background: #FFFFFF;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 156px;
    padding-left: 20px;
    opacity: 0.1;
    margin-bottom: 15px;
}
input[type="submit"]{
    color:#FFFFFF;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    border-color: #3CB878;
    opacity: 1;
    background-color:#3CB878;
    padding-right: 113px;
    padding-left: 111px;
    margin-top: 20px;

}
.agreed-button{
    font-family: ubuntu;
    font-size: 14px;
    line-height: 14px;   
    margin-bottom: 20px;
}
form{
    margin-left: 61px;
}
  .green-text:hover{
    color:green ;
}
.green-hover:hover{
    text-decoration: underline;
    color: #01813F;
}
input[id="text-input"]:hover{
    background-color: #01813F ;
}    

input[type="checkbox"]{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: inline;
}