*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./image/header.png); 
    background-repeat: no-repeat;
    width: 1519px;
    height: 768px;
}

.hero{
    display: grid;
    padding-top: 46px;
    margin-bottom: -17px;
    padding-left: 242px;
}
.first-mini-text{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    position: absolute;
}
.second-mini-text{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.hero:hover .icon-title,
.hero:hover .first-mini-text,
.hero:hover .second-mini-text{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
339deg
) saturate(600%) contrast(0.8);

}
.link-contact{
    margin-left: 855px;
    position: absolute;
    top: 46px;
}
.link-contact-title{
    margin-left: 915px;
    padding-top: 33px;
    margin-top: -80px;
}
.content{
    display: grid;

}
.content-item{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    column-gap: 61px;
    margin-top: 22px;
    row-gap: 78px;
}
.title-img{
    width: 308px;
    height: 220px;
}
.content-text2:hover{
    color: #F26522;
}
.link-contact:hover{
    color: #F26522;
}
.link-contact-title:hover{
    color: #F26522;
}
.hero-img{
    display: block;
}
.content-hero{
    width: 300px;
    height: 220px;
}
.hero-title{
    position: absolute;
}
.album-hover{
    position: absolute;
    left: 2.5px;
    width: 300px;
    height: 55px;
    margin-top: -3px;
    display: none;
}
.content-text2:hover+.album-hover{
    margin-top: -94.7px;
    display: block;
    background-color: #F26522;
}
.feedback-text{
    font-family: sans-serif;
    margin-top: 11px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
}
.second-feedback-text{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 21px;
    margin-top: -15px;
}
.album-hover-title{
   
    position: absolute;
    top: 26px;
    left: 4.5px;
    width: 299px;
    height: 55px;
    display: none;
}
.content-text2:hover+.album-hover-title{
    margin-top: -94.5px;
    display: block;
    background-color: #F26522;
}
.album-hover-subtitle{
    position: absolute;
    top: 34px;
    left: 2.6px;
    width: 299px;
    height: 55px;
    display: none;
}
.content-text2:hover+.album-hover-subtitle{
    margin-top: -94.5px;
    display: block;
    background-color: #F26522;
}
.album-hover-item{
    position: absolute;
    top: 34px;
    left: 2.5px;
    width: 301px;
    height: 55px;
    display: none;
}
.content-text2:hover+.album-hover-item{
    margin-top: -94.5px;
    display: block;
    background-color: #F26522;
}
.album-hover-feedback{
    position: absolute;
    top: 34px;
    left: 2px;
    width: 301px;
    height: 55px;
    display: none;
}
.content-text2:hover+.album-hover-feedback{
    margin-top: -94.5px;
    display: block;
    background-color: #F26522;
}
.album-feedback{
    position: absolute;
    top: 34px;
    left: 1.5px;
    width: 300px;
    height: 55px;
    display: none;
}
.content-text2:hover+.album-feedback{
    margin-top: -94.5px;
    display: block;
    background-color: #F26522;
}
.content-text2{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 90px;
}
.text-details{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-align: end;
    color: #FFFFFF;
    margin-right: 37px;
    margin-top: 12px;
}
.text-details::before{
    content: '';
    position: absolute;
    top: 34px;
    right: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate( 47deg);

}
.mini-text{
    font-family: sans-serif;
    margin-top: 7px;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 16px;
}
.mini-text-title{
    font-family: sans-serif;
    margin-top: 7px;
    margin-left: 16px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
}
.last-text{
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    margin-top: 90px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
    text-decoration: none;
    list-style-type:none;
}

