* {
    margin: 0;
    padding: 0;
}
.nav{
    background-color: #313131;
    
    
}
.nav-img{
    margin-left: 27px;
    margin-top: 22px;
    margin-bottom: 21px ;
    margin-right: 27px;
    
}
.nav-text{
    color:  #FFFFFF;
    margin-top: -50px;
    margin-left: 83px;
}
.nav-title{
    display: flex;
    margin-left: 474px;
    text-decoration: none;
}
.nav-subtitle{
    margin-left: 36px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: -25px;
    color: #FFFFFF;
}
.nav-subtitle:hover{
    transition: 0.5s;
    margin-right: 15px;
}
.logo-search{
    margin-left: 1448px;
    margin-top: -53px;
    margin-bottom: -4px;
    
}
.logo-item{
    background-color:  #000000;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 28px;
}
.news-title{
    background-image: url(./img/header-background.png);
    width: 1519px;
    height: 369px;
    left: 0px;
    top: 68px;
}
.text-title{
    color: #FFFFFF;
    padding-top: 164px;
    padding-left: 500px;
}